src/main/resources/time.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://gear.com/test/soap" elementFormDefault="qualified">

    <xs:element name="getTimeRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTimeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dateTime" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>